.header {
  font-family : Arial;
  font-weight: lighter;
  right: 30px;
  font-size: 30px;
  position: relative;
  left: 7.5%;
}

.input-container {
  display: inline-block
}
input[type=text]{
  border: 1px solid black;
  border-top: 1px solid grey;
  width: 350px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding : 0;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: grey;
    font-weight: bold;
  }

  .username {
    color: grey;
    font-weight: bold;
  }

  .names {
    font-size : 20px;

  }

  .outer {
    position: relative;
    width: 100%;
  }

  .inner {
    display: inline-block;
    text-align: center;
    padding: 3px;
  }
